.modal {
    .titulo{
      text-align: center;
      font-size: 25px;
      padding:0 ; 
      background-color: rgb(230, 163, 163);
      margin-top: 15px;
      padding-bottom: 15px;
    }


    .mensagem{
      text-align: center;
      color: black;
    }
  }
  
  